.section {
  background-color: darkslategray;
  color: white;
  padding: 10px;

  h2 {
    padding-bottom: 10px;
  }

  p {
    padding-bottom: 10px;
  }
}

.grid_element {
  background-color: orange;
  padding: 5px;
}
