// Colours
$base-colour: #373839;

$primary-background-color: #fff;

$primary-text-color: $base-colour;
$secondary-text-color: #fff;

// CSS Grid
$grid-columns: 12;
$gap: 5px;
$grid-item-color: $base-colour;
